/* Write your CSS here */
.denomination-item {
  width: 48%;
  margin-bottom: 15px;
  list-style-type: none;
}

.button {
  color: #c4c4c4;
  background-color: #382f5a;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}
  